/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #f4f4f4;
  line-height: 1.6;
}

header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.cta-button {
  background-color: #fcd42b;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e5bb00;
}

.hero {
  background-image: url("https://d35lvrk9fb4ftj.cloudfront.net/eyJidWNrZXQiOiJkcm9wbWFyayIsImtleSI6IjUyMDQzL2Q3Y2JmNGU4OGUxMDVmODEzMzE5YzczOGEzNzI3MTE1M2VjN2ZiYzU5MWYzMjJhMGNjNDFlZWVhYWZhZmU1ZTUvcHJldmlldy80ODMyX0V0aGlvcGlhXzIwMTlfQ0ctLmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6NjAwLCJoZWlnaHQiOjYwMCwiZml0IjoiaW5zaWRlIiwid2l0aG91dEVubGFyZ2VtZW50Ijp0cnVlfX19");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: #fff;
  padding: 2rem;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  padding: 2rem;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero span {
  color: #00d1b2;
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.primary-button {
  background-color: #fcd42b;
  color: #000;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.primary-button:hover {
  background-color: #e6be00;
}

.story, .cta-section {
  padding: 3rem 2rem;
  background: #fff;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.secondary-button {
  background-color: #00d1b2;
  color: #fff;
  padding: .50rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.secondary-button:hover {
  background-color: #009e8a;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #eee;
  font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero {
    background-size: cover;
    background-position: center;
    min-height: 80vh;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .primary-button, .secondary-button {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
  }
}